*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: rgb(252, 167, 238);
    display: flex;
    justify-content: center;
}

.all{
    margin: 3%;
    max-width: 1000px;
    width: 100%;
    background-color: #fff;
}

header{
    background-color: #000;
    padding: 20px 30px;
    color: #fff;
}

.header{
    align-items: center;
    text-align: center;
}

.header > a{
    font-size: 20px;
    color: #fff;
}


.header > span{
    font-family: sans-serif;
    color: rgb(28, 255, 7);
    font-weight: 600;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-n{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    font-size: 40px;
}

.img{
    max-width: 500px;
    width: 100%;
    margin: 20px 0;
    border: 1px solid #000;
}

.id1{
    margin-top: 60px;
}

.id4{
    margin-bottom: 60px;
}

footer{
    background-color: #000;
    padding: 20px 30px;
    color: #fff;
}

.footer{
    align-items: center;
    text-align: center;
}

.footer > a{
    font-size: 20px;
    color: #fff;
}